nav ul li{
    display: inline-block;
    margin-right: 20px;
    color: grey;
    
}
nav {
    background-color: #333;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}