* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(194, 191, 191);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: linear-gradient(to right, #0B3C5D, #1ABC9C);
    color: white;
}

#Logo {
    height: 180px;
}

h1 {
    font-size: 22px;
    font-style: italic;
    text-align: center;
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    
}

nav a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: 500;
}

nav a:hover {
    background-color: #F39C12;
}

.container {
    width: 90%;
    margin: auto;
}

.content {
    margin-top: 40px;
    line-height: 1.6;
}

.content-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}


.content-block p {
    width: 55%;
}

.justimages {
    width: 40%;
    height: 220px;
    background: #ff9317;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.justimages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.content-block:nth-child(even) {
    flex-direction: row-reverse;
}

.donate-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.donate-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.donate-form button {
    padding: 12px;
    background: #1ABC9C;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    background: linear-gradient(to right, #0B3C5D, #1ABC9C);
    text-align: center;
    color: white;
    padding: 30px;
    margin-top: 40px;
}

