.static{
    position: static;
    margin-top: 20px;
    margin-left: 100px;
}

.relative{
    position: relative;
    top: 100px;
    left: 40%;
}

.absolute{
    position: absolute;
    top: 125px;
    left: 40px;
}

.fixed{
    position: fixed;
    top: 300px;
    left: 30%;
}